<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Auth0.plist
   WeatherApp

   Created by JayR Atamosa on 3/11/23.
   Copyright (c) 2023 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>ClientId</key>
        <string>mvivtmotdaWX3d8zYaXjBs6dnF2BQAUp</string>
        <key>Domain</key>
        <string>dev-ml4qar4z5kl7kazj.us.auth0.com</string>
    </dict>
</plist>
